.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.select-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
}
